.App {
  text-align: center;
}

.App-header {
  background-color: #9e4f6c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  min-height: 70px;
  padding: 10px;
  color: white;
  text-shadow: #ffc1e3 1px 1px;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffc1e3; */
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.hearts {
  margin-top: 20px;
}
.submitBtn {
  width: 20%;
  height: 10%;
  top: 40px;
}

.valueIn {
  padding-top: 60px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}